<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phishhhhhh</title>
</head>

<body>
    <h1>You just got Phished.</h1>
    <p>You have been phished. Luckily, this is a simulation.</p>
    <p>Hopefully, you've learnt something </p>
    <div>
        <p>The number of visitors is :</p>
       <div id="sfc8yuywsj9w2z8f923hguw5td5edugcd4d"></div>
        <script type="text/javascript" src="https://counter6.optistats.ovh/private/counter.js?c=8yuywsj9w2z8f923hguw5td5edugcd4d&down=async" async></script>
        <noscript><a href="https://www.freecounterstat.com" title="hit counter">
            <img src="https://counter6.optistats.ovh/private/freecounterstat.php?c=8yuywsj9w2z8f923hguw5td5edugcd4d" border="0" title="hit counter" alt="hit counter">
        </a></noscript>

</body>

</html>
